PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=rogerbass
DB_SSLMODE=disable
DB_TIMEZONE=Africa/Kinshasa

# JWT — change this to a long random secret in production!
JWT_SECRET=rogerbass_super_secret_jwt_key_change_me_in_production

ALLOW_ORIGINS=http://localhost:4200
